* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: Verdana, sans-serif;
}

.calendar-comp {
  position: relative;
}

.calendar-comp > input[type="text"] {
  float: left;
}

.calendar-wrap {
    float: left;
    width: 250px;
    position: absolute;
    left: 0;
    top: 20px;
}

.month {
  padding: 5px 25px;
  width: 100%;
  background: #1abc9c;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
  cursor: pointer;
}

.month .next {
  float: right;
  padding-top: 10px;
  cursor: pointer;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
    padding: 5px 0;
    background: #eee;
    margin: 0;
    float: left;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 14.2%;
  text-align: center;
  font-size: 12px;
  color: #777;
  height: 30px;
  float: left;
  line-height: 30px;
  box-sizing: border-box;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

.calendarMonth {
  text-align: center;
}

.calendarMonth span {
  font-size: 18px;
}

.today-date, .date:hover {
  font-weight: bold;
  color: #FFF !important;
  background: #1abc9c;
}

.date {
  cursor: pointer;
}

.cancel-calendar {
  float: right !important;
  width: auto !important;
  margin-right: 20px !important;
}

/* Add media queries for smaller screens */

@media screen and (max-width:720px) {
  .weekdays li,
  .days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li,
  .days li {
    width: 12.5%;
  }
  .days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  .days li {
    width: 12.2%;
  }
}

.bg-day {
  background: #ccc;
}
